﻿@model IEnumerable<User>
@{
    Layout = "_Layout";
}

<form asp-controller="Users" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button type="submit">Upload</button>
</form>

@if (Model.Count() > 0)
{
    <hr />
    <table cellpadding="0" cellspacing="0" border="1">
        @foreach (User user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Email</td>
            </tr>
        }
    </table>
}