﻿@{ ViewData["Title"] = "Import File"; }




<form method="post" asp-action="ImportClassFromExcel" asp-controller="Home" asp-area="" enctype="multipart/form-data">
    <div class="form-group custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="file">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>